.footer {
	text-align: center;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;

	.copyright {
		padding-bottom: 10px;
	}

	&.ajaxifying {
		-moz-opacity: 0.00;
		opacity: 0.00;
		-ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}

}
.footer-wrapper{
	margin-top: 50px;
	h4.subtitle{
		margin-top: 20px;
		margin-bottom: 35px;
	}

	.footer-logo-wrapper{
		margin-bottom: 30px;
		img{
			width: 60px;
			height: auto;
		}

	}
	.social-list{
		.social-icon{
			margin-right: 25px;
			img{
				width: auto;
				height:  20px;
			}

		}
		p{
			text-align: left;
			padding-left: 15%;
			a{
				color: black;
			}
		}
	}

}
